 **Here is a list of faculty teaching this MOOC. Can you write a function and apply it using map() to get a list of all faculty titles and last names (e.g. ['Dr. Brooks', 'Dr. Collins-Thompson', …]) ?**

In [67]:
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

def split_title_and_name(person):
    
    str_person = str(people)
    x = str_person.split()
    title = x[0:1]
    print(x)
    for name in x:
        print(name)
        break
        
        
#     return people

list(map(split_title_and_name(people) ,people ))

["['Dr.", 'Christopher', "Brooks',", "'Dr.", 'Kevyn', "Collins-Thompson',", "'Dr.", 'VG', 'Vinod', "Vydiswaran',", "'Dr.", 'Daniel', "Romero']"]
['Dr.

TypeError: 'NoneType' object is not callable

In [90]:
from pprint import pprint

people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']
people = str(people)
people = people.split()
people = list(people)
print(type(people))
for name in people:
    
    for temp in name:
        print(temp)  
        first_name = temp[0:1]
        print(first_name)
        break

<class 'list'>
[
[
C
C
B
B
'
'
K
K
C
C
'
'
V
V
V
V
V
V
'
'
D
D
R
R

In [91]:
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

def split_title_and_name(person):
    title = person.split()[0]
    lastname = person.split()[-1]
    return '{} {}'.format(title, lastname)

list(map(split_title_and_name, people))

['Dr. Brooks', 'Dr. Collins-Thompson', 'Dr. Vydiswaran', 'Dr. Romero']

**for understanding the {} {} {} format try to run code again and again ok!**

In [97]:
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

def split_title_and_name(person):
    print(person)
    title = person.split()[0]
    lastname = person.split()[-1]
    random = person.split()[-2]
    return '{} {} {}'.format(title, lastname,random)

list(map(split_title_and_name, people[0:2]))

Dr. Christopher Brooks
Dr. Kevyn Collins-Thompson

['Dr. Brooks Christopher', 'Dr. Collins-Thompson Kevyn']

# Convert this function into a lambda:

In [100]:
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

def split_title_and_name(person):
    return person.split()[0] + ' ' + person.split()[-1]

In [104]:

#option 1
for person in people:
    NameAndTitle = (lambda person:person.split()[0] + ' ' + person.split()[-1])
    print(NameAndTitle)
#     print(split_title_and_name(person) == (lambda person:person.split()[0] + ' ' + person.split()[-1]))

#option 2
#list(map(split_title_and_name, people)) == list(map(???))

<function <lambda> at 0x7fb62e40ff70>
<function <lambda> at 0x7fb62e40faf0>
<function <lambda> at 0x7fb62e583a60>
<function <lambda> at 0x7fb62ea7e790>

In [109]:
#practice for lambda funcition
myfunction = lambda a,b,c=None :a+b
myfunction(2,3)

5

In [119]:
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

getNameAndTitle = lambda people : str(people).split()[0] + " "+ str(people).split()[-1]
list(map(getNameAndTitle , people))

['Dr. Brooks', 'Dr. Collins-Thompson', 'Dr. Vydiswaran', 'Dr. Romero']

# list Comprehencion

In [124]:
L = range(1,11) # create all integers from 1 to 10, inclusive
# Write a list comprehension that just keeps all the values in L the same
L2 = [n for n in L] 
# the "[]" tells Python that we want to construct a list
# the for n in L part tells Python to loop through L, calling each element, n
# the first n tells Python to keep n in the new list
L2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [126]:
l =range(0,20)
l3 = [n for n in l if n>5]
l3

[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [132]:
l4 = [n if n>5 else 0 for n in l]
l4
l4 = [n for n in l if n>5 else 0]
l4

SyntaxError: invalid syntax (<ipython-input-132-ff4f30a890f6>, line 3)

In [140]:
l5 = [n if n%2==0 else n//2 for n in l if n>5 ]
l5

[6, 3, 8, 4, 10, 5, 12, 6, 14, 7, 16, 8, 18, 9]

In [141]:
L = range(1,11) # create all integers from 1 to 10, inclusive
# Write a list comprehension that just keeps all the values in L the same
L2 = [n for n in L] 
# the "[]" tells Python that we want to construct a list
# the for n in L part tells Python to loop through L, calling each element, n
# the first n tells Python to keep n in the new list
L2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [142]:
L3 = [n for n in L if n>5] # here we've added a condition to the list comprehension
# we are looping through L again (for n in L), but we only want to do stuff 
# to n if n>5
# Again, we don't do anything to n (the first n inside the list comprehension)
# So, we end up keeping all the numbers in L bigger than 5
L3

[6, 7, 8, 9, 10]

In [143]:
L4 = [n if n>5 else 0 for n in L] 
# Here, we loop through L, calling each element n
# We do something to every n (there is no if after the for statement)
# What we do is: we keep n as is if n > 5
# We swap 0 for n otherwise (the else part)
L4

[0, 0, 0, 0, 0, 6, 7, 8, 9, 10]

In [144]:
L5 = [n if n%2!=0 else n/2 for n in L if n>5] 
# Here, we have a combination of the general if statement (at the end)
# and a specific if statement (at the beginning)
# The second if (n>5) tells the loop to only do stuff if n>5
# The first if (n if n%2!=0) tells Python to keep n (which satisfies n>5) to keep n as is.
# the else tells Python to divide n by 2 if n>5 and n%2!=0 is false.
L5

[3.0, 7, 4.0, 9, 5.0]

# Here, why don’t you try converting a function into a list comprehension.

In [157]:
def times_tables():
    lst = []
    for i in range(10):
        for j in range (10):
            lst.append(i*j)
    return lst

times_tables() == []

False

In [163]:

lst = [n*m for n in range(1,10) for m in range(10) ]
lst

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 0,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 0,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 0,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 0,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 0,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 0,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 0,
 9,
 18,
 27,
 36,
 45,
 54,
 63,
 72,
 81]